{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"
        style="height: 100vh; display: flex; flex-direction: column; align-items: center;">
        <div class="col-6 text-center mb-3">
            <a href="{{ url_for('manouveres.index') }}" class="btn btn-primary">Campaign Outcome</a>
        </div>
        <div class="col-6 text-center">
            <a href="{{ url_for('calculator.index') }}" class="btn btn-primary">Calculator</a>
        </div>
    </div>
</div>

{% endblock %}