{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Imperial</h2>
    <form id="imperial-form" method="POST">
        {{ imperial_form.hidden_tag() }}
        <table class="table table-bordered">
            <thead>
                <tr class="table-info">
                    <th>Force/Fortification</th>
                    <th>Strength</th>
                    <th>Ritual</th>
                    <th>Order/Is Besieged</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="imperial-forces">
                <tr id="imperial-row-0" class="table-dark">
                    <td>{{ imperial_form.force(id='imperial-force-0', class='form-control') }}</td>
                    <td>{{ imperial_form.strength(id='imperial-strength-0', readonly='readonly', class='form-control')
                        }}</td>
                    <td>{{ imperial_form.ritual(id='imperial-ritual-0', class='form-control') }}</td>
                    <td>{{ imperial_form.order(id='imperial-order-0', class='form-control') }}</td>
                    <td><button type="button" class="btn btn-danger delete-imperial-row"
                            data-row-id="imperial-row-0">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="add-imperial" class="btn btn-primary mb-3">Add an Imperial Force</button>
        <button id="add-imperial-fortification" class="btn btn-primary mb-3">Add an Imperial Fortification</button>
        <button id="add-imperial-military-units" class="btn btn-primary mb-3">Add Imperial Military Units</button>
    </form>

    <h2>Barbarian</h2>
    <label for="barbarian-force-selector">Select Barbarian Force:</label>
    <select id="barbarian-force-selector" class="form-control">
        <option value="">Select Force</option>
        <option value="Drujj">Drujj</option>
        <option value="Grendel">Grendel</option>
        <option value="Jotun">Jotun</option>
    </select>
    <form id="barbarian-form" method="POST">
        {{ barbarian_form.hidden_tag() }}
        <table class="table table-bordered">
            <thead>
                <tr class="table-info">
                    <th>Force/Fortification</th>
                    <th>Strength</th>
                    <th>Ritual</th>
                    <th>Order/Is Besieged</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="barbarian-forces">
                <tr id="barbarian-row-0" class="table-dark">
                    <td>{{ barbarian_form.force(id='barbarian-force-0', class='form-control') }}</td>
                    <td>{{ barbarian_form.strength(id='barbarian-strength-0', readonly='readonly', class='form-control')
                        }}</td>
                    <td>{{ barbarian_form.ritual(id='barbarian-ritual-0', class='form-control') }}</td>
                    <td>{{ barbarian_form.order(id='barbarian-order-0', class='form-control') }}</td>
                    <td><button type="button" class="btn btn-danger delete-barbarian-row"
                            data-row-id="barbarian-row-0">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="add-barbarian" class="btn btn-primary mb-3">Add Barbarian Force</button>
        <button id="add-barbarian-fortification" class="btn btn-primary mb-3">Add a Barbarian Fortification</button>
        <button id="add-barbarian-military-units" class="btn btn-primary mb-3">Add Barbarian Military Units</button>
    </form>
    <form id="calculate-form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" id="calculate-outcome" class="btn btn-success mb-3">Calculate Outcome</button>
    </form>

    <div id="summary-container">
        <h2>Outcome:</h2>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info">
                    <th>Outcome</th>
                    <th>Total Victory Points</th>
                    <th>Offensive Victory Points</th>
                    <th>Defensive Victory Points</th>
                </tr>
            </thead>
            <tbody id="summary">
                <tr class="table-dark">
                    <td id="summary-outcome"></td>
                    <td id="summary-total-victory-points"></td>
                    <td id="summary-offensive-victory-points"></td>
                    <td id="summary-defensive-victory-points"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr class="table-info">
                    <th>Force</th>
                    <th>Casualties Taken</th>
                    <th>Remaining Strength</th>
                </tr>
            </thead>
            <tbody id="summary-forces-details">
                <tr class="table-dark">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="initialModal" tabindex="-1" role="dialog" aria-labelledby="initialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="initialModalLabel">Welcome to the Empire Campaign Calculator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Welcome</h5>
                <p>This calculator is a tool to make your forays into the world of the Empire LARP Military Council
                    downtime campaigns easier.</p>
                <p>This is only to be used to provide an estimation of what could be a possible outcome. Due to
                    factors outside of the scope of this calculator, it should be assumed to be a best guess, and
                    not to be used as evidence that infomration printed in a Wind of War is incorrect.</p>
                <h5>How to Use</h5>
                <p>Enter the forces and fortifications for both the Imperial and Barbarian sides of the campaign.
                    The calculator will then determine the outcome of the campaign.</p>
                <p>It handles all the various orders (with the exception of Let None Pass and No Matter the Cost) as
                    well as rituals. Bound by Common Cause also has no direct impact whilst I implement Military
                    Unit integration.
                </p>
                <h5>Coming Soon:</h5>
                <ul>
                    <li>Military Unit integration</li>
                    <li>Territory and Region integration</li>
                    <li>Save calculations</li>
                    <li>Export calculations</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    #barbarian-force-selector {
        width: 200px
    }
</style>

<script src="{{ url_for('static', filename='js/force_details.js') }}"></script>
<script src="{{ url_for('static', filename='js/fortification_details.js') }}"></script>
<script src="{{ url_for('static', filename='js/calculations.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/initial_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_row.js') }}"></script>
{% endblock %}